<ion-header>
  <ion-toolbar>
    <ion-title>Car Listing</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="pageAdd()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Car Listing</ion-title>
      <!-- <ion-buttons slot="end">
        <ion-button (click)="pageAdd()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons> -->
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <ion-item-sliding *ngFor="let car of carList; let i=index">
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="car.image"/>
        </ion-thumbnail>
        <ion-label>
          <h2>{{ car.make }} {{ car.model }}</h2>
          <p>Color: {{ car.color }}</p>
          <p>Price: RM{{ car.price }}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="delete(i)" color="danger">
          <ion-icon slot="start" name="trash"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>
