<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Latest News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar debounce="500" [(ngModel)]="searchText" (ionChange)="onSearch()"></ion-searchbar>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Latest News</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let news of newsList" routerLink="/details/{{ news.publishedAt }}">
      <ion-label class="ion-text-wrap">
        <h2><strong>{{ news.title }}</strong></h2>
        <ion-text>{{ news.description }}</ion-text><br>
        <ion-text class="dateText">Publish at: {{ news.publishedAt }}</ion-text>
      </ion-label>
      <ion-thumbnail slot="end">
        <img [src]="news.urlToImage"/>
      </ion-thumbnail>
    </ion-item>
  </ion-list>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
