<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Camera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Camera</ion-title>
    </ion-toolbar>
  </ion-header>

  <img [src]="imageUrl" style="width: 100%" >
  <ion-button expand="block" color="success" (click)="takePicture()">
    <ion-icon slot="start" name="camera"></ion-icon>Take Picture
  </ion-button>
  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
